[2021-02-12 12:42] jmencisom opened #1 "Report backend tasks"
Please report common backend tasks. Each tasks should require small effort.

[2021-02-12 12:43] jmencisom opened #2 "Report Frontend tasks"
Please report Frontend tasks. Each task should require small effort and be independent between each other.

[2021-02-12 12:45] jmencisom commented on #1
BTW, one of the first task is to setup the dev environment.

[2021-02-13 02:06] CateValencia opened #3 "Analyze CARPA business"
Analysis and investigate of the business and the main objective of the Automatic Palm Oil Fruit Cluster Classifier (CARPA)

[2021-02-13 02:06] rocandres opened #4 "Upload first meeting slides"
Please upload the presentation of session # 1 in the repository.

[2021-02-13 02:07] CateValencia opened #5 "Collaborate on the definition of the class models"
Support in the definition and registration of classes for the project model

[2021-02-13 02:08] rocandres commented on #4
Please, add due date for activity # 1

[2021-02-13 02:37] CateValencia opened #6 "Analyze CARPA business"
Analysis and investigate of the business and the main objective of the Automatic Palm Oil Fruit Cluster Classifier (CARPA)

[2021-02-13 02:39] CateValencia opened #7 "Collaborate on the definition of the class models"
Support in the definition and registration of classes for the project model

[2021-02-13 02:45] jmencisom commented on #4
[Gestión de Proyectos de Software II.pdf](https://github.com/encisosystems/carpa/files/5975047/Gestion.de.Proyectos.de.Software.II.pdf)

[2021-02-13 02:45] #4 closed

[2021-02-13 17:13] jmencisom opened #8 "Share ER Diagram"

[2021-02-13 17:14] jmencisom commented on #8
![CARPA - Architecture](https://user-images.githubusercontent.com/1332546/107856254-f2547080-6df4-11eb-88f8-d7a48b50f7d0.png)

[2021-02-13 17:14] #8 closed

[2021-02-14 05:01] danialeresbar opened #9 "Add the BatchSource harvests app model to the Django admin panel"
- [x] Add the harvests application in the global project settings
- [x] Create the **BatchSource** model with their respective fields and constraints (first approach) in the **models.py** file
- [x] Create the AdminModel for this model and customize it in the **admin.py** file
- [x] Verify the correct display of the objects and forms of the models in the **admin** panel
- [x] Open a pull request

[2021-02-15 13:44] jmencisom opened #10 "Make Category > Name as text field"
Please make Category > Name  a text field, e.g., I would like to be able to type:

"maturity:green"
"maturity:mature"
"maturity: overmature"
"maturity:rotten"
"maturity:cob"
"maturity:other"

Thank you.

[2021-02-15 13:53] jmencisom opened #11 "Create tasks for first activity"
Please create an issue for each student with the following information:

Title: Add local env screenshoot

Description: After CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

Feel free to ask in case of questions.

Thanks you.

[2021-02-15 14:42] jmencisom opened #12 "Share L1 Architecture Diagram"
Share L1 Architecture Diagram

[2021-02-15 14:43] jmencisom commented on #12
![CARPA - Architecture](https://user-images.githubusercontent.com/1332546/107960152-433da380-6f72-11eb-84bd-9c3957fa4e82.png)

[2021-02-15 14:43] #12 closed

[2021-02-15 15:47] jmencisom commented on #12
FYI @danialeresbar @diferpaho

[2021-02-15 16:27] jmencisom opened #13 "Share color palette for frontend"
Share color palette for frontend

[2021-02-15 16:27] jmencisom commented on #13
![AdobeColor-golden forrest](https://user-images.githubusercontent.com/1332546/107971681-c7972300-6f80-11eb-90b7-c7bca95779b6.jpeg)

[2021-02-15 16:27] jmencisom commented on #13
FYI @diferpaho

[2021-02-15 16:27] #13 closed

[2021-02-15 17:17] danialeresbar commented on #10
Done!

I've made a [commit](https://github.com/encisosystems/carpa/blob/develop/harvests/models.py) in develop branch for solving this! 😃

[2021-02-15 17:17] #10 closed

[2021-02-15 17:43] jmencisom commented on #13
![IMG-20210215-WA0010](https://user-images.githubusercontent.com/1332546/107978791-6163cd80-6f8b-11eb-96a1-fa97923679b2.jpg)

[2021-02-15 18:50] danialeresbar opened #14 "Add creation date filter feature to the django admin for the harvests application models"
![Filter](https://user-images.githubusercontent.com/36459449/107983821-945e8f00-6f94-11eb-9081-52ddd749b922.PNG)

[2021-02-16 15:09] rocandres opened #24 "Add local env screenshoot"
Please,After CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost

[2021-02-16 15:10] rocandres opened #25 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:10] rocandres opened #26 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:11] rocandres opened #27 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:12] rocandres opened #28 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:12] rocandres opened #29 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:13] rocandres opened #30 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:13] rocandres opened #31 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:14] rocandres opened #32 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:14] rocandres opened #33 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:15] rocandres opened #34 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:15] rocandres opened #35 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:16] rocandres opened #36 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:16] rocandres opened #37 "Add local env screenshoot"
Please, after CARPA repository is available in your local machine, please take a screenshoot with the project runnnig from localhost.

[2021-02-16 15:20] rocandres commented on #11
good morning,
task completed.

[2021-02-16 15:20] #11 closed

[2021-02-16 15:57] jmencisom commented on #11
Cool, thanks!

[2021-02-16 16:33] F4brii commented on #29
![Inicio-proyecto-local](https://user-images.githubusercontent.com/48930687/108092322-997e1580-704a-11eb-96ea-889119fea6b9.png)

Starting the initial project

[2021-02-16 21:56] osbbarr1 commented on #33
![CARPA](https://user-images.githubusercontent.com/5799183/108126531-f3490480-7077-11eb-8729-ec9641e6e4e3.png)

[2021-02-16 22:06] #33 closed

[2021-02-17 13:41] jmencisom commented on #29
Feel free to close with a comment :)

[2021-02-17 19:01] jmencisom opened #38 "Add GA code"
In the base template, please add the Google Analytics code within the head tag:

[code]

Thank you.

[2021-02-17 23:12] diferpaho commented on #38
already implemented

[2021-02-17 23:12] #38 closed

[2021-02-17 23:35] carmagedon07 commented on #24
Greetings

I have achieved to run proyect in my laptop.

![image](https://user-images.githubusercontent.com/36909609/108281904-aa17b400-714e-11eb-9e41-1b3f02e17e23.png)
![Captura de pantalla de 2021-02-17 18-33-33](https://user-images.githubusercontent.com/36909609/108281929-b996fd00-714e-11eb-84a9-6c2298fef161.png)

![Captura de pantalla de 2021-02-17 18-35-23](https://user-images.githubuserconte

[2021-02-17 23:41] rocandres commented on #14
issue assigned to @NicolasBorda96

[2021-02-18 04:37] rocandres commented on #37
![image](https://user-images.githubusercontent.com/78989283/108305930-13142180-7179-11eb-8399-4df9730f5286.png)

[2021-02-18 04:37] rocandres commented on #37
completed task

[2021-02-18 04:37] #37 closed

[2021-02-18 12:24] CateValencia opened #39 "Complete tutorial 1-4"
Follow the step-by-step tutorial for activity 1

[2021-02-18 12:25] CateValencia opened #40 "Configure virtual machine"
To optimize the work, the virtual machine must be configured with the Linux operating system (Ubuntu)

[2021-02-18 12:31] CateValencia commented on #3
1. documentation reading is done

2. business analysis for collaboration in defining "classes"

[2021-02-18 12:33] CateValencia commented on #5
The information that was defined with my colleague Fabricio and which was documented internally and in the repository Wiki is recorded.

[2021-02-18 12:39] CateValencia commented on #40
Tengo problemas con la configuración de una máquina virtual. Estoy configurando con VMware y Virtualbox

[2021-02-18 12:41] CateValencia opened #41 "Set up tools and work environment"
Configure the necessary tools and the environment for cloning the project repository

[2021-02-18 15:38] dcarranza9 commented on #27
Project is running on localhost

![image](https://user-images.githubusercontent.com/7050144/108380950-57cda600-71d5-11eb-9186-5f6e88bb643a.png)

[2021-02-18 16:40] #27 closed

[2021-02-19 03:01] CateValencia commented on #40
done, the machine was configured in "VMWARE"

[2021-02-19 04:45] CateValencia commented on #41
tool setup DONE

[2021-02-19 04:45] CateValencia commented on #39
Done

[2021-02-19 04:53] CateValencia commented on #25
Regards

The project ran successfully

![image](https://user-images.githubusercontent.com/68095616/108458916-a3b73400-7243-11eb-9c1d-34bdfc63c982.png)

[2021-02-19 04:55] CateValencia commented on #25
Successful administrator access
![image](https://user-images.githubusercontent.com/68095616/108459431-a23a3b80-7244-11eb-8767-55915fc199bb.png)

[2021-02-19 04:56] rocandres commented on #25
Please, close task with a comment.

[2021-02-19 04:59] rocandres commented on #24
Please, close task with a comment.

[2021-02-19 05:01] rocandres commented on #29
please close task with a comment

[2021-02-19 05:08] CateValencia commented on #25
@rocandres I remember that the engineer indicated to leave them in review and the coordinators closed the task. Please confirm to us if the instruction was changed?

[2021-02-19 05:11] #25 closed

[2021-02-19 05:12] CateValencia commented on #25
Regards

The project ran successfully

[2021-02-19 05:15] #3 closed

[2021-02-19 05:16] CateValencia commented on #3
Done task

[2021-02-19 05:16] #5 closed

[2021-02-19 05:16] CateValencia commented on #5
Done task

[2021-02-19 05:16] #39 closed

[2021-02-19 05:16] CateValencia commented on #39
Done task

[2021-02-19 05:16] #40 closed

[2021-02-19 05:16] CateValencia commented on #40
Done task

[2021-02-19 05:16] #41 closed

[2021-02-19 05:16] CateValencia commented on #41
Done task

[2021-02-19 05:20] rafa2640 commented on #35
![Run Carpa](https://user-images.githubusercontent.com/17261023/108461132-19bd9a00-7248-11eb-8324-4212b2c6ec0d.PNG)
![Run carpa 2](https://user-images.githubusercontent.com/17261023/108461135-204c1180-7248-11eb-9d2d-483d020b5fa4.PNG)
![Run Carpa 3](https://user-images.githubusercontent.com/17261023/108461138-23470200-7248-11eb-9b09-570945ba7bd8.PNG)

Project running :)

[2021-02-19 05:20] #35 closed

[2021-02-19 05:22] NicolasBorda96 commented on #32
![image](https://user-images.githubusercontent.com/68128430/108461017-d4996800-7247-11eb-8b8d-cd87888e6e31.png)

![image](https://user-images.githubusercontent.com/68128430/108461130-17f3d680-7248-11eb-8f8d-60b3357017ea.png)

Server running successfully, task done

[2021-02-19 05:23] #32 closed

[2021-02-19 06:42] NicolasBorda96 commented on #14
![image](https://user-images.githubusercontent.com/68128430/108467349-1085fa80-7253-11eb-92ce-91b66979b037.png)
I don't know why, the interface is different.
![image](https://user-images.githubusercontent.com/68128430/108467375-1976cc00-7253-11eb-8112-38d003382013.png)
![image](https://user-images.githubusercontent.com/68128430/108467388-1e3b8000-7253-11eb-9ccd-7531552ba66a.png)
A filter was creat

[2021-02-19 11:56] dcarranza9 opened #42 "Solve Log error: "/usr/bin/env: ‘bash\r’: No such file or directory" - Docker desktop for Windows"
I'm getting this message in log of carpa's container when I try to up it through docker desktop or using "docker-compose up" command in windows command line

[2021-02-19 12:00] dcarranza9 commented on #42
Just like this [article ] (https://www.xspdf.com/resolution/50789087.html) explains :

"One of the issues with Docker (or any Linux/macOS based system) on Windows is the difference in how line endings are handled...the best thing is to avoid the issue by setting git config --global core.autocrlf input which makes git clone using unix endings, and converts windows endings on commit"

So I tried to

[2021-02-19 13:18] #29 closed

[2021-02-19 13:39] jmencisom commented on #2
Please let us know in the comments when you have a progress in this task. How many tasks you expect to report?

Thank you.

[2021-02-19 13:39] jmencisom commented on #1
Please let us know in the comments when you have a progress in this task. How many Backend tasks you expect to report?

Thank you.

[2021-02-19 13:44] jmencisom opened #43 "Enable coordinates in BatchSource model"
Enable coordinates in BatchSource model. User should be able to create polygons to define the exact location of the BatchSource. Each polygon vertex should have latitude and longitud in decimal point format.

[2021-02-19 13:45] jmencisom commented on #43
![descarga](https://user-images.githubusercontent.com/1332546/108512139-cae72300-728e-11eb-9d4a-43294ea738c7.jpeg)

[2021-02-19 13:50] diferpaho opened #44 "Update cards part 1"
Update the cards in the menu of https://carpa.encisosystems.com/harvests so that the appearance is the same as the cards of the menu of https://carpa.encisosystems.com/home.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 13:51] diferpaho opened #45 "Update cards part 2"
Update the cards in the menu of https://carpa.encisosystems.com/reports so that the appearance is the same as the cards of the menu of https://carpa.encisosystems.com/home.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 13:59] jmencisom opened #46 "Give backend access to IS-IW students"
Please create accounts for all IS-IW students.

Thanks.

[2021-02-19 13:59] diferpaho opened #47 "Add cards"
Add cards for bunch batch, bunch, sensor and bunch category, in the menu https://carpa.encisosystems.com/harvests.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 14:08] jmencisom opened #48 "Add English and Spanish support for Frontend"
Add English and Spanish support for Frontend.

You can use https://django-rosetta.readthedocs.io/

[2021-02-19 14:10] jmencisom opened #49 "Install Rosseta App"
Pls install Rosseta App
https://django-rosetta.readthedocs.io/

Once done, please inform frontend team #48

[2021-02-19 14:19] danialeresbar commented on #42
You can use a WSL (could be Ubuntu) to clone the repository and run the repository on your premises. It is faster and easier than installing a virtual machine

[2021-02-19 14:23] diferpaho commented on #2
So far I have reported 3 tasks, but the idea is to add 5 more today.

[2021-02-19 14:25] danialeresbar commented on #14
Once you have tried everything locally you must open a **PR** requesting to integrate the branch you worked with to the **develop** branch. In the **PR** you must add **me** for review and once it is integrated you can close this issue

[2021-02-19 14:26] diferpaho opened #50 "Add icons part 1"
Change the words in the buttons of https://carpa.encisosystems.com/origin by icons, you can guide yourself from https://carpa.encisosystems.com/people, the icons should be the same.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 14:29] danialeresbar commented on #9
Once the changes have been integrated you can close this issue 😎

[2021-02-19 14:29] diferpaho opened #51 "Add icons part 2"
Change the words in the buttons of https://carpa.encisosystems.com/vehicles by icons, you can guide yourself from https://carpa.encisosystems.com/people, the icons should be the same.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 14:31] diferpaho commented on #51
If you can't find the edit button, please add it

[2021-02-19 14:31] diferpaho commented on #44
If you can't find the edit button, please add it

[2021-02-19 14:35] jmencisom opened #52 "Include CARPA Logo"
Feel free to generate favicon as well.

![Logo CARPA](https://user-images.githubusercontent.com/1332546/108517678-b78b8600-7295-11eb-8f51-cfa56075340d.png)

[2021-02-19 14:36] diferpaho opened #53 "Update the columns part 1"
Update the columns of the table https://carpa.encisosystems.com/people according to the current harvester model  leaving an example row that uses these columns.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 14:37] diferpaho opened #54 "Update the columns part 2"
Update the columns of the table https://carpa.encisosystems.com/origin according to the current batch source model  leaving an example row that uses these columns.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 14:39] diferpaho opened #55 "Update the columns part 3"
Update the columns of the table https://carpa.encisosystems.com/vehicles according to the current vehicle model leaving an example row that uses these columns.

Before any changes review the guide:
https://github.com/encisosystems/carpa/wiki/Front-end

[2021-02-19 14:40] diferpaho commented on #2
The first 8 tasks were reported

[2021-02-19 14:43] #9 closed

[2021-02-19 14:51] jmencisom opened #56 "Keep updated the Visual Data Model"
Keep updated the Visual Data Model by adding classes, fields, relationships, etc.

https://docs.google.com/presentation/d/11iDmV4OoOwxONOQSSmTzckxmPP1V4Wkzj5YTQnLZP2I/edit#slide=id.gbd3038e3ee_0_21

[2021-02-19 15:55] diferpaho opened #57 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:56] diferpaho opened #58 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:57] diferpaho opened #59 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:57] diferpaho opened #60 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:58] diferpaho opened #61 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:58] diferpaho opened #62 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:59] diferpaho opened #63 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 15:59] diferpaho opened #64 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 16:00] diferpaho opened #65 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 16:02] diferpaho opened #66 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 16:02] diferpaho opened #67 "Complete the Django tutorial"
Complete the Django tutorial up to point 4, leave a comment and screenshot for proof.

[2021-02-19 16:09] danialeresbar opened #68 "Create the Harvester model"
- [ ] Create the model with their respective fields and constraints (first approach) in the **models.py**
- [ ] Create the AdminModel and customize it in the **admin.py** file
- [ ] Verify the correct display of the objects and forms of the models in the **admin** panel
- [ ] Open a pull request

[2021-02-19 16:18] danialeresbar opened #69 "Create the Vehicle model"
- [ ] Create the model with their respective fields and constraints (first approach) in the **models.py**
- [ ] Create the AdminModel and customize it in the **admin.py** file
- [ ] Verify the correct display of the objects and forms of the models in the **admin** panel
- [ ] Open a pull request

[2021-02-19 16:34] rocandres opened #70 "organize groups to assign tasks"
Please state how the groups are made up. Define who is the backend and who is the frontend.

[2021-02-19 16:41] danialeresbar opened #71 "Create the Report model"
- [x] Create the model with their respective fields and constraints (first approach) in the **models.py**
- [x] Create the AdminModel and customize it in the **admin.py** file
- [x] Verify the correct display of the objects and forms of the models in the **admin** panel
- [x] Open a pull request

[2021-02-19 16:43] rfonseca7 commented on #36
![Captura de Pantalla 2021-02-19 a la(s) 11 40 34 a  m](https://user-images.githubusercontent.com/39870129/108534022-aba8bf80-72a7-11eb-894e-7793345c2a28.png)

![Captura de Pantalla 2021-02-19 a la(s) 11 41 36 a  m](https://user-images.githubusercontent.com/39870129/108534051-b2cfcd80-72a7-11eb-9bad-a8006d0ff638.png)

[2021-02-19 16:43] #36 closed

[2021-02-19 16:45] CateValencia commented on #70
Good Morning

Users and role:
F4brii = BackEnd
CateValencia = FrontEnd

[2021-02-19 16:49] CateValencia opened #72 "Define teammate and roles"
Definition of work team and evaluation of strengths for roles

[2021-02-19 16:49] #72 closed

[2021-02-19 16:49] CateValencia commented on #72
Usuarios y rol:
F4brii = BackEnd
CateValencia = FrontEnd

[2021-02-19 16:50] CateValencia opened #73 "Define teammate and roles"
Definition of work team and evaluation of strengths for roles

[2021-02-19 16:53] danialeresbar opened #74 "Create the BunchBatch model"
- [x] Create the model with their respective fields and constraints (first approach) in the **models.py**
- [x] Create the AdminModel and customize it in the **admin.py** file
- [x] Verify the correct display of the objects and forms of the models in the **admin** panel
- [x] Open a pull request

[2021-02-19 16:56] CateValencia opened #75 "Answer the Following Questions (SME)"
Answer the following questions (SME):
a. What are the main varieties of oil palm?
b. What is the average volume of a bunch of fresh fruit (RFF)?
c. What is the average weight of a bunch of fresh fruit (RFF)?

[2021-02-19 16:57] #75 closed

[2021-02-19 16:57] CateValencia commented on #75
Research and analysis of the responses about the business is carried out and applied in the identification of classes of the project model

[2021-02-19 17:04] nikecarvaggio commented on #66
![image](https://user-images.githubusercontent.com/50802758/108536471-7ea9dc00-72aa-11eb-9112-b2ad38e044a5.png)
![image](https://user-images.githubusercontent.com/50802758/108536544-8ff2e880-72aa-11eb-9f3b-c4c254b2a189.png)
![image](https://user-images.githubusercontent.com/50802758/108536570-997c5080-72aa-11eb-99a6-75949442bc66.png)

[2021-02-19 17:09] F4brii commented on #73
Developer Backend

[2021-02-19 17:10] CateValencia opened #76 "manage account on github"
create, update or activate github account for project management

[2021-02-19 17:10] #76 closed

[2021-02-19 17:11] CateValencia commented on #76
CateValencia account is updated

[2021-02-19 17:12] CateValencia opened #77 "manage account on github"
create, update or activate github account for project management

[2021-02-19 17:13] #73 closed

[2021-02-19 17:14] #77 closed

[2021-02-19 17:25] #6 closed

[2021-02-19 17:25] #7 closed

[2021-02-19 17:45] rafa2640 commented on #70
Good Afternoon

Users and role:
NicolasBorda96 = BackEnd
Rafa2640 = FrontEnd

[2021-02-19 18:10] andres26142 commented on #57
Tutorial de django completado hasta el paso 4:
![image](https://user-images.githubusercontent.com/56303578/108543827-99cd1980-72b3-11eb-95e2-1875cb844b45.png)

Evidencia de las views genericas usadas en el ultimo paso:
![image](https://user-images.githubusercontent.com/56303578/108543931-bff2b980-72b3-11eb-924f-5a80c67b8d54.png)

[2021-02-19 19:06] lauraparrado commented on #64
![image](https://user-images.githubusercontent.com/57289651/108549221-d9e3ca80-72ba-11eb-9976-05c0ca8b00c7.png)
![image](https://user-images.githubusercontent.com/57289651/108549561-4bbc1400-72bb-11eb-8982-ea1326315178.png)
![image](https://user-images.githubusercontent.com/57289651/108549585-55457c00-72bb-11eb-9662-7642fc220311.png)
![image](https://user-images.githubusercontent.com/57289651/1085

[2021-02-19 19:07] #64 closed

[2021-02-19 19:07] carmagedon07 commented on #24
ok,finished

[2021-02-19 19:07] #24 closed

[2021-02-19 19:43] osbbarr1 commented on #70
osbbarr1 = Frontend
cgaray = Backend

[2021-02-19 20:30] ElkinMoreno01226 commented on #28
[
![Imagen](https://user-images.githubusercontent.com/67612376/108558045-61373b00-72c7-11eb-9010-43229489fb80.jpg)
](url)

[2021-02-19 20:30] #28 closed

[2021-02-19 20:43] cgaray22 commented on #26
Project runs in local environment

![image](https://user-images.githubusercontent.com/41648516/108559323-2df5ab80-72c9-11eb-922c-ef7ab82f8cbd.png)

[2021-02-19 20:43] #26 closed

[2021-02-19 20:44] jmencisom opened #78 "Add Space between model name"
In the admin https://carpa.encisosystems.com/admin/, please add spaces between the model names:

BunchCategories --> Bunch Categories
BatchSources --> Batch Sources

Thank you.

<img width="419" alt="Captura de Pantalla 2021-02-19 a la(s) 3 42 31 p  m" src="https://user-images.githubusercontent.com/1332546/108559349-38b04080-72c9-11eb-961c-b488b6ca39ec.png">

[2021-02-19 20:59] jmencisom opened #79 "Make Bunch.Category optional"
Please make Bunch.Category field optional

Thank you.

[2021-02-19 21:25] IWananaI commented on #60
![image](https://user-images.githubusercontent.com/57290242/108563027-cd696d00-72ce-11eb-9b5f-99153146909e.png)
![image](https://user-images.githubusercontent.com/57290242/108563085-e2460080-72ce-11eb-8f8b-dd968ba6247b.png)
![image](https://user-images.githubusercontent.com/57290242/108563185-0bff2780-72cf-11eb-90e8-716be8e291e5.png)

[2021-02-19 21:39] #42 closed

[2021-02-19 22:19] mauriciomosqueragutierrez commented on #31
Task done.
Running from localhost.
![image](https://user-images.githubusercontent.com/78989342/108567507-5fc13f00-72d6-11eb-8fed-8c6f0948944d.png)

[2021-02-19 22:20] #31 closed

[2021-02-19 22:28] jmencisom opened #80 "Update profile picture on github"
Please ask all students to upload an appropriate picture for their github profiles.

Thanks.

[2021-02-19 22:47] danialeresbar opened #81 "Enable POSTGIS layer on the deployed Database"

[2021-02-19 22:48] danialeresbar commented on #81
Please check [this](https://medium.com/@bertnotbob/steps-to-dokku-and-postgres-with-postgis-on-ubuntu-16-04-1ecd904ec716)

[2021-02-19 23:44] hermesdiaz commented on #61
![1](https://user-images.githubusercontent.com/57687563/108573381-63f35980-72e2-11eb-9f73-f1173f9d398a.JPG)
![2](https://user-images.githubusercontent.com/57687563/108573384-648bf000-72e2-11eb-8b60-5c65d0968817.JPG)
![3](https://user-images.githubusercontent.com/57687563/108573385-65248680-72e2-11eb-8775-d4c9ba0154ac.JPG)

[2021-02-19 23:44] hermesdiaz commented on #61
![image](https://user-images.githubusercontent.com/57687563/108573424-81c0be80-72e2-11eb-883b-3c739bd72979.png)
![image](https://user-images.githubusercontent.com/57687563/108573430-88e7cc80-72e2-11eb-805e-56b3d2550ed9.png)

[2021-02-19 23:59] juan5d commented on #30
Sure, after downloading the CARPA repository, I ran the command in terminal.
Here is the screenshot on the local machine.

![Captura de Pantalla 2021-02-19 a la(s) 6 38 00 p  m](https://user-images.githubusercontent.com/11222298/108574132-82f2eb00-72e4-11eb-9015-351ca28b29c2.png)

![Captura de Pantalla 2021-02-19 a la(s) 6 38 41 p  m](https://user-images.githubusercontent.com/11222298/108574148-8e

[2021-02-20 00:29] #79 closed

[2021-02-20 00:57] rafa2640 opened #83 "Someone can help me with this mistake docker"
![image](https://user-images.githubusercontent.com/17261023/108576696-8be7ba80-72ec-11eb-9896-55b3bdab3997.png)
![image](https://user-images.githubusercontent.com/17261023/108576729-a9b51f80-72ec-11eb-851c-235c4a427d66.png)

[2021-02-20 01:09] danialeresbar commented on #83
Your **logs** are not very helpful 😥. Please show us the error with the specific **container**.
@dcarranza9 Could it be something similar to what happened to you?

[2021-02-20 01:20] juan5d commented on #70
Good evening

dcarranza9 = Backend
juan5d = Frontend

[2021-02-20 01:26] #30 closed

[2021-02-20 01:47] rfonseca7 commented on #70
rfonseca7 = BackEnd
ElkinMoreno01226 = FrontEnd

[2021-02-20 01:59] mauriciomosqueragutierrez commented on #70
Users/Role:
OscarMiguelToro = BackEnd
mauriciomosqueragutierrez = FrontEnd
Gnite!

[2021-02-20 02:45] rafa2640 commented on #83
![image](https://user-images.githubusercontent.com/17261023/108580916-b2612200-72fb-11eb-878f-155e7b1b6bd8.png)

[2021-02-20 02:46] jmencisom commented on #83
#42

[2021-02-20 04:30] santiagoroncancio commented on #58
![Captura de pantalla de 2021-02-19 23-27-28](https://user-images.githubusercontent.com/39351937/108583822-594cba80-730a-11eb-94a1-ec7bcf595942.png)
![Captura de pantalla de 2021-02-19 23-27-42](https://user-images.githubusercontent.com/39351937/108583826-5c47ab00-730a-11eb-96ef-172af7cfbce2.png)

Finished!

[2021-02-20 04:30] #58 closed

[2021-02-20 06:04] JavierVaronBueno commented on #58
![Captura 1](https://user-images.githubusercontent.com/15239189/108585619-60c69080-7317-11eb-991f-5ff16998b39e.PNG)
![Captura 2](https://user-images.githubusercontent.com/15239189/108585620-615f2700-7317-11eb-9238-cb92722a9840.PNG)
![Captura 3](https://user-images.githubusercontent.com/15239189/108585621-61f7bd80-7317-11eb-906b-8ac7d3b34be9.PNG)
![Captura 4](https://user-images.githubusercontent.c

[2021-02-20 06:10] JavierVaronBueno commented on #67
![Captura 1](https://user-images.githubusercontent.com/15239189/108585780-50fb7c00-7318-11eb-89a3-7bebad86e0c2.PNG)
![Captura 2](https://user-images.githubusercontent.com/15239189/108585781-522ca900-7318-11eb-8095-e9de8d1241f8.PNG)
![Captura 3](https://user-images.githubusercontent.com/15239189/108585782-522ca900-7318-11eb-8d94-8b75a4cb19fb.PNG)
![Captura 4](https://user-images.githubusercontent.c

[2021-02-20 06:10] JavierVaronBueno commented on #59
![Uploading image.png…]()

[2021-02-20 06:11] JavierVaronBueno commented on #59
![Captura 1](https://user-images.githubusercontent.com/15239189/108585811-86a06500-7318-11eb-8246-a3d88e1dbc5a.PNG)
![Captura 2](https://user-images.githubusercontent.com/15239189/108585812-87d19200-7318-11eb-949c-3d3b340b78aa.PNG)
![Captura 3](https://user-images.githubusercontent.com/15239189/108585813-87d19200-7318-11eb-8ab6-b5968b6bc03e.PNG)
![Captura 4](https://user-images.githubusercontent.c

[2021-02-20 06:12] JavierVaronBueno commented on #61
![Captura 1](https://user-images.githubusercontent.com/15239189/108585839-b64f6d00-7318-11eb-8c9a-b58c1f3f857e.PNG)
![Captura 2](https://user-images.githubusercontent.com/15239189/108585841-b6e80380-7318-11eb-9ad6-9eb5c254adc9.PNG)
![Captura 3](https://user-images.githubusercontent.com/15239189/108585842-b6e80380-7318-11eb-8297-df45ba68190f.PNG)
![Captura 4](https://user-images.githubusercontent.c

[2021-02-20 12:51] LordCandocar98 commented on #59
![image](https://user-images.githubusercontent.com/62684690/108595794-b74fc100-734f-11eb-833e-bf21286e1572.png)
![image](https://user-images.githubusercontent.com/62684690/108596021-3cd37100-7350-11eb-9afc-4e34aa892a9d.png)
![image](https://user-images.githubusercontent.com/62684690/108596033-5e345d00-7350-11eb-8844-bfd5eb48a043.png)

[2021-02-20 12:51] jmencisom commented on #67
@ZulyMV: feel free to close it when done.

[2021-02-20 12:52] #59 closed

[2021-02-20 12:54] jmencisom opened #84 "Make sure all issues have an assignee"
Please make sure all issues have an assignee.

Thank you.

[2021-02-20 14:17] carmagedon07 commented on #70
Greetings

PCaroDi07 = frontEnd

Regrats!

[2021-02-20 14:22] rocandres commented on #44
Good morning,
task assigned to @CateValencia

Any concerns add a comment.

[2021-02-20 14:23] rocandres commented on #45
Good morning,
task assigned to @rafa2640

Any concerns add a comment.

[2021-02-20 14:23] rocandres commented on #47
Good morning,
task assigned to @osbbarr1

Any concerns add a comment.

[2021-02-20 14:24] rocandres commented on #50
Good morning,
task assigned to @juan5d

Any concerns add a comment.

[2021-02-20 14:25] rocandres commented on #51
Good morning,
task assigned to @ElkinMoreno01226

Any concerns add a comment.

[2021-02-20 14:26] rocandres commented on #53
Good morning,
task assigned to @mauriciomosqueragutierrez

Any concerns add a comment.

[2021-02-20 14:27] rocandres commented on #54
Good morning,
task assigned to @carmagedon07

Any concerns add a comment.

[2021-02-20 14:28] rocandres commented on #55
Good morning,
task assigned to @jaserranoj

Any concerns add a comment.

[2021-02-20 14:30] NicolasBorda96 opened #86 "Error starting CARPA project"
Download the repository again with the help of git extension and start the docker, which only goes so far.
![image](https://user-images.githubusercontent.com/68128430/108598807-e5d49880-735d-11eb-84b1-41d9bf519d44.png)
And if I run the runserver command, it throws the following error.
![image](https://user-images.githubusercontent.com/68128430/108598773-9aba8580-735d-11eb-822d-4cdc5b7b92e6.png)
I

[2021-02-20 14:38] rocandres commented on #68
Good morning,
task assigned to @dcarranza9

Any concerns add a comment.

[2021-02-20 14:39] rocandres commented on #69
Good morning,
task assigned to @rfonseca7

Any concerns add a comment.

[2021-02-20 14:40] rocandres commented on #71
Good morning,
task assigned to @otoro90

Any concerns add a comment.

[2021-02-20 14:41] rocandres commented on #74
Good morning,
task assigned to @cgaray22

Any concerns add a comment.

[2021-02-20 14:43] rocandres commented on #78
Good morning,
task assigned to @F4brii

Any concerns add a comment.

[2021-02-20 14:49] rocandres commented on #70
Task completed.

[2021-02-20 14:49] #70 closed

[2021-02-20 15:17] NicolasBorda96 commented on #86
Solution: #42

[2021-02-20 15:17] #86 closed

[2021-02-20 15:17] danialeresbar commented on #86
Please try to perform the steps mentioned in the **README**.
Down the containers and then do a **build** 😁

[2021-02-20 15:22] danialeresbar opened #87 "Add creation date filter feature to the Django admin for the reports application models"

[2021-02-20 16:17] rafa2640 commented on #45
Good morning

task done https://github.com/encisosystems/carpa/pull/88
:)

[2021-02-20 16:20] juan5d commented on #50
Problem with permits, my local is associated with work user
i did change global user in my machine, but not work

[2021-02-20 16:21] cgaray22 opened #90 "Drawbacks with gitignore since it doesn't exclude the venv folder"
Drawbacks with gitignore since it doesn't exclude the venv folder, .venv / venv venv / * is included and in no way excludes this folder.

commits:
a49054c
8ebb370

[2021-02-20 16:44] jmencisom opened #92 "Add SSH info to wiki"
https://gist.github.com/almapase/5ded8e3503f7ef7f01648cfaa7215eb3 in the links section

[2021-02-20 16:57] rocandres commented on #92
link added.

[2021-02-20 16:57] #92 closed

[2021-02-20 21:33] johanleon14 commented on #63
![1 sof](https://user-images.githubusercontent.com/57290266/108609052-4cc37300-7399-11eb-9f58-7853f20d9238.png)
![2 soft](https://user-images.githubusercontent.com/57290266/108609057-52b95400-7399-11eb-86b1-9650789ddde7.png)

Finished!

[2021-02-20 21:33] #63 closed

[2021-02-21 00:23] CateValencia opened #96 "Push error"
once the "cards" update task was completed on my local, I made a successful "commit", but when I did "push" I got credentials error

![image](https://user-images.githubusercontent.com/68095616/108611799-34128780-73b0-11eb-8172-0809b36bea63.png)

[2021-02-21 00:54] danialeresbar commented on #96
You should push from the respective branch (in this case fix/update...). Also, you should make sure to integrate git with VSCode correctly. Please verify this 😀

[2021-02-21 03:01] JavierVaronBueno commented on #62
I regret having uploaded my activity to other people's, it was my mistake, I did not distinguish well how it was assigned to me and I did the process wrong.
![Captura 1](https://user-images.githubusercontent.com/15239189/108614230-ece3c100-73c6-11eb-9e74-101b454348d4.PNG)
![Captura 2](https://user-images.githubusercontent.com/15239189/108614231-ed7c5780-73c6-11eb-85d1-79b472ed86a2.PNG)
![Captura 3

[2021-02-21 03:02] JavierVaronBueno commented on #62
Task completed.

[2021-02-21 03:02] #62 closed

[2021-02-21 03:53] ZulyMV commented on #67
![Image1](https://user-images.githubusercontent.com/57289911/108615083-5adfb680-73ce-11eb-9868-6885f2b70386.jpeg)
![Image2](https://user-images.githubusercontent.com/57289911/108615086-5d421080-73ce-11eb-9ad2-eb4efcc2c27c.jpeg)
![Image3](https://user-images.githubusercontent.com/57289911/108615089-6206c480-73ce-11eb-8932-30e4ce82776a.jpeg)
![Image4](https://user-images.githubusercontent.com/572899

[2021-02-21 03:53] #67 closed

[2021-02-21 04:26] lindapatarroyo commented on #65
![image](https://user-images.githubusercontent.com/52215783/108615514-fffc8e00-73d2-11eb-9dab-282f93bb7360.png)
![image](https://user-images.githubusercontent.com/52215783/108615530-173b7b80-73d3-11eb-8906-0d1648e14d55.png)

[2021-02-21 04:28] #65 closed

[2021-02-21 16:48] CateValencia commented on #96
the position of the branch was correct. I entered this forum "https://stackoverflow.com/questions/62697845/git-push-origin-master-missing-or-invalid-credentials" and did the credentials configuration again in the vsc terminal.  It worked! very thanks 😀

[2021-02-21 16:48] #96 closed

[2021-02-21 16:48] CateValencia commented on #96
DONE

[2021-02-21 17:57] danialeresbar commented on #90
The project is Dockerized in order to avoid installing python libraries and packages locally (your machine), even the use of virtual environments should not be necessary. Therefore, although he understands the need not to version these folders, I do not see the case in which we need to create a virtual environment

[2021-02-21 17:57] #90 closed

[2021-02-22 04:34] otoro90 commented on #34
![image](https://user-images.githubusercontent.com/33351976/108662863-3ef71600-749d-11eb-891f-3615326e0590.png)

[2021-02-22 04:36] #34 closed

[2021-02-22 06:13] danialeresbar commented on #81
## Dokku POSTGIS ##

To install the POSTGIS extension in the database created by Dokku, it is necessary to modify the value of two environment variables for this user. The commands for this are as follows:
[code]

[code]
### POSTGIS Version ###
Once the database has been created we can obtain useful information from it with:
[code]
In this case, the information is:

![Postgis](https://user-images.

[2021-02-22 06:16] danialeresbar commented on #81
Welcome to GeoDjango 🌎

![Geo](https://user-images.githubusercontent.com/36459449/108669691-884e6200-74ab-11eb-8508-b8857974f746.PNG)

[2021-02-22 06:16] #81 closed

[2021-02-22 06:18] danialeresbar commented on #43
Please check #81 😀

[2021-02-22 12:21] diferpaho commented on #58
Excellent!

[2021-02-22 12:22] diferpaho commented on #61
Excellent!

[2021-02-22 12:22] #61 closed

[2021-02-22 12:23] diferpaho commented on #59
Excellent!

[2021-02-22 12:28] diferpaho commented on #50
Can I solve the problem?

[2021-02-22 12:30] diferpaho commented on #63
Excellent!

[2021-02-22 12:31] diferpaho commented on #67
Excellent!

[2021-02-22 12:32] diferpaho commented on #65
Excellent!

[2021-02-22 12:33] diferpaho commented on #96
Excellent!

[2021-02-22 12:36] diferpaho commented on #64
Excellent!

[2021-02-22 12:38] diferpaho commented on #62
Excellent!

[2021-02-22 12:50] diferpaho commented on #50
Excellent!

[2021-02-22 12:52] diferpaho commented on #50
review pull request comments

[2021-02-22 12:56] diferpaho commented on #45
Excellent!

[2021-02-22 12:57] #45 closed

[2021-02-22 15:04] #57 closed

[2021-02-22 15:05] #60 closed

[2021-02-22 15:05] #66 closed

[2021-02-22 16:43] #14 closed

[2021-02-23 01:53] jmencisom commented on #46
No longer needed. Please remove the IS-IW from the backend. Apologizes for the inconvenience.

[2021-02-23 04:41] danialeresbar commented on #46
Done! 🙂

[2021-02-23 04:41] #46 closed

[2021-02-23 15:32] rocandres commented on #84
tasks assigned to all members.

[2021-02-23 15:32] #84 closed

[2021-02-23 15:37] rocandres opened #98 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:38] rocandres opened #99 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:39] rocandres opened #100 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:39] rocandres opened #101 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:40] rocandres opened #102 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:40] rocandres opened #103 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:41] rocandres opened #104 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:41] rocandres opened #105 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:42] rocandres opened #106 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:42] rocandres opened #107 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:43] rocandres opened #108 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:43] rocandres opened #109 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:44] rocandres opened #110 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:44] rocandres opened #111 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 15:45] rocandres commented on #80
Good morning, tasks created.

[2021-02-23 15:45] #80 closed

[2021-02-23 15:45] rocandres opened #112 "Update profile picture on github"
Please upload an image appropriate to your profile.

Thanks.

[2021-02-23 21:53] #43 closed

[2021-02-24 01:18] mauriciomosqueragutierrez commented on #103
Done.

[2021-02-24 01:18] #103 closed

[2021-02-24 12:47] #109 closed

[2021-02-24 12:47] CateValencia commented on #109
Good morning!

Task DONE.

[2021-02-24 12:48] CateValencia commented on #44
Good morning!

Task DONE.

[2021-02-24 12:48] #44 closed

[2021-02-24 12:53] jmencisom commented on #80
Cool! Thanks

[2021-02-24 12:54] jmencisom commented on #112
I guess this is solved, right? Feel free to close it.

[2021-02-24 12:56] jmencisom commented on #110
@carmagedon07 I assume this task takes no more than a few minutes, isn't?

[2021-02-24 12:56] jmencisom commented on #108
@cgaray22 I assume this task takes no more than a few minutes, isn't?

[2021-02-24 12:57] jmencisom commented on #105
@F4brii  I assume this task takes no more than a few minutes, isn't?

[2021-02-24 12:57] jmencisom commented on #104
@juan5d I assume this task takes no more than a few minutes, isn't?

[2021-02-24 12:57] jmencisom commented on #101
@osbbarr1 I assume this task takes no more than a few minutes, isn't?

[2021-02-24 12:58] jmencisom commented on #100
@otoro90 I assume this task takes no more than a few minutes, isn't?

[2021-02-24 12:58] jmencisom commented on #99
@rafa2640 I assume this task takes no more than a few minutes, isn't?

[2021-02-24 13:03] jmencisom commented on #78
@F4brii any expected resolution date?

[2021-02-24 13:15] F4brii commented on #78
@jmencisom, today resolved.

[2021-02-24 13:18] otoro90 commented on #100
Yes sr, excuse me

[2021-02-24 13:18] #100 closed

[2021-02-24 13:25] jmencisom commented on #100
Perfect! Thanks

[2021-02-24 13:25] jmencisom commented on #83
Is this solved?

[2021-02-24 13:59] rocandres commented on #112
Yes sr, task done

[2021-02-24 13:59] #112 closed

[2021-02-24 18:40] jmencisom commented on #111
Feel free to close it when done. Thanks

[2021-02-24 22:25] jmencisom opened #120 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![unnamed](https://user-images.githubusercontent.com/1332546/109074080-413bb900-76c5-11eb-9744-c177cfeb7c12.png)

Then ask you colleagues to do so.

[2021-02-24 23:06] #78 closed

[2021-02-24 23:19] carmagedon07 commented on #110
greetings

I 've finished to update picture profile.

![image](https://user-images.githubusercontent.com/36909609/109079293-beb6f780-76cc-11eb-8319-a8ec2e8d18fa.png)

regrast

[2021-02-24 23:19] #110 closed

[2021-02-25 00:23] carmagedon07 commented on #54
Greetings @diferpaho , @rocandres

before I start to write code , I'd like that you check my design about "Origins Table front-end" to validate columns.

![image](https://user-images.githubusercontent.com/36909609/109084442-cb8c1900-76d5-11eb-995b-5749d3f2c518.png)

I wait you review,thanks

[2021-02-25 02:16] rocandres opened #122 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109092929-78ba5d80-76e5-11eb-907e-f2851d16b93f.png)

[2021-02-25 02:17] rocandres opened #123 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093038-a7383880-76e5-11eb-918f-54da18950ae2.png)

[2021-02-25 02:17] rocandres opened #124 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093038-a7383880-76e5-11eb-918f-54da18950ae2.png)

[2021-02-25 02:18] rocandres opened #125 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:19] rocandres opened #126 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:19] rocandres opened #127 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:20] rocandres opened #128 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:20] rocandres opened #129 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:20] rocandres opened #130 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:21] rocandres opened #131 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:21] rocandres opened #132 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:22] rocandres opened #133 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:22] rocandres opened #134 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:22] rocandres opened #135 "Register to confenrece"
Please register at:
https://docs.google.com/forms/d/e/1FAIpQLSc9K2k0P8JnWlsL8nhedv1rqfwuj-Ysa9uSmocUuOzq-4h5lw/viewform?gxids=7628

![image](https://user-images.githubusercontent.com/78989283/109093124-d6e74080-76e5-11eb-88d4-a231023adfa7.png)

[2021-02-25 02:25] rocandres commented on #120
task completed and registration completed.

![image](https://user-images.githubusercontent.com/78989283/109093677-c08db480-76e6-11eb-815b-9e5a8cd2e67d.png)

[2021-02-25 02:25] #120 closed

[2021-02-25 02:29] rafa2640 commented on #99
Hi Goodnight

Current picture update :)

[2021-02-25 02:35] danialeresbar commented on #68
Task solved with #121

[2021-02-25 02:35] #68 closed

[2021-02-25 02:49] rocandres commented on #71
Good evening, @otoro90  any expected resolution date ?. Task #87  depends on the completion of this task.

[2021-02-25 10:36] carmagedon07 commented on #134
Greeting

I have wrote down  in this form yet.

[2021-02-25 10:36] #134 closed

[2021-02-25 11:15] jmencisom commented on #99
Feel free to close it now

[2021-02-25 11:33] mauriciomosqueragutierrez commented on #127
Done
![image](https://user-images.githubusercontent.com/78989342/109147683-46cfe800-7733-11eb-93e5-3014661d73d4.png)

[2021-02-25 11:33] #127 closed

[2021-02-25 13:05] cgaray22 commented on #108
Profile photo change is made :)
![image](https://user-images.githubusercontent.com/41648516/109157613-3c681b00-7740-11eb-99b0-20455381ebc2.png)

@jmencisom @rocandres

[2021-02-25 13:05] #108 closed

[2021-02-25 13:08] cgaray22 commented on #132
Registration is made in the form :)

![image](https://user-images.githubusercontent.com/41648516/109157882-a08adf00-7740-11eb-8cdc-6f8dffc75c76.png)

@rocandres

[2021-02-25 13:08] #132 closed

[2021-02-25 14:32] rfonseca7 commented on #122
registration completed

[2021-02-25 14:32] #122 closed

[2021-02-25 14:36] rfonseca7 commented on #98
updated profile picture

[2021-02-25 14:36] #98 closed

[2021-02-25 17:27] rafa2640 commented on #123
Hi Good nigth

Registered :)

[2021-02-25 17:29] #99 closed

[2021-02-25 17:33] #123 closed

[2021-02-25 19:11] danialeresbar commented on #69
This task has been solved!

[2021-02-25 19:11] #69 closed

[2021-02-25 19:23] rocandres commented on #71
Good evening, @otoro90 any expected resolution date ?. Task #87 depends on the completion of this task.

[2021-02-25 19:25] rocandres commented on #87
The task could not be completed, because task #71  has not been closed.

[2021-02-25 19:37] osbbarr1 commented on #125
![image](https://user-images.githubusercontent.com/5799183/109207334-03976880-7777-11eb-8993-69a624240fdc.png)

[2021-02-25 19:38] osbbarr1 commented on #125
:)

[2021-02-25 19:38] #125 closed

[2021-02-25 19:38] danialeresbar commented on #87
@rocandres Take the initiative and solve both. After all, it shouldn't take you more than 1 hour and you have files that you can guide yourself from 😎
Thanks

[2021-02-25 19:47] osbbarr1 commented on #101
Good Morning.
I update the profile

[2021-02-25 19:47] osbbarr1 commented on #101
![image](https://user-images.githubusercontent.com/5799183/109208481-5d4c6280-7778-11eb-9b02-b82e38f763e3.png)

[2021-02-25 19:47] #101 closed

[2021-02-25 19:51] osbbarr1 commented on #47
Add cards for bunch batch, bunch, sensor and bunch category

[2021-02-25 19:51] osbbarr1 commented on #47
![image](https://user-images.githubusercontent.com/5799183/109208975-fed3b400-7778-11eb-8e4d-6c2393898f1f.png)

[2021-02-25 19:53] osbbarr1 commented on #47
activity performed pull requests :)

[2021-02-25 20:06] ElkinMoreno01226 commented on #130
![image](https://user-images.githubusercontent.com/67612376/109210534-f41a1e80-777a-11eb-962b-83e6ef41e026.png)
Done

[2021-02-25 20:06] #130 closed

[2021-02-25 22:39] NicolasBorda96 commented on #102
Updated profile picture

[2021-02-25 22:39] #102 closed

[2021-02-25 22:52] NicolasBorda96 commented on #126
![registro](https://user-images.githubusercontent.com/68128430/109228971-ac9e8d00-7790-11eb-94d9-5519a3da1bda.jpeg)
Registration done

[2021-02-26 02:00] CateValencia commented on #133
Hello!  DONE...

[2021-02-26 02:00] #133 closed

[2021-02-26 02:01] #124 closed

[2021-02-26 06:11] otoro90 opened #137 "I have a problem in migration"
![image](https://user-images.githubusercontent.com/33351976/109262330-5ac92780-77cf-11eb-92a5-eea69ffe6141.png)

[2021-02-26 06:29] danialeresbar commented on #137
Please check the MAKEFILE
You should check the Django migrations docs

[2021-02-26 13:03] otoro90 commented on #137
thanks

[2021-02-26 13:10] #137 closed

[2021-02-26 13:41] #71 closed

[2021-02-26 14:30] carmagedon07 commented on #54
grettings

I've finished the write code yet, and I  updated column table origin.
![image](https://user-images.githubusercontent.com/36909609/109310954-2b3c0e80-7813-11eb-8692-f53d161729a7.png)

but, I have had problem when I try to do "Pull request", I can not pull my branch int repositoy remote, the system show me this messenge.

![image](https://user-images.githubusercontent.com/36909609/1093126

[2021-02-26 14:37] carmagedon07 opened #139 "Problem with push my branch"
Greetings

When I try to push my branch in the repository remote , I can not get it, the system show me this messenge.

![image](https://user-images.githubusercontent.com/36909609/109313357-1dd45380-7816-11eb-87fc-19500dba2239.png)

Could help me?

[2021-02-26 19:18] jmencisom commented on #135
Hi, any progress on this? Feel free to close it after you complete the registration form.

Thank you.

[2021-02-26 19:19] jmencisom commented on #129
Hi, any progress on this? Feel free to close it after you complete the registration form.

Thank you.

[2021-02-26 19:19] jmencisom commented on #131
Hi, any progress on this? Feel free to close it after you complete the registration form.

Thank you.

[2021-02-26 19:20] jmencisom commented on #128
Hi, any progress on this? Feel free to close it after you complete the registration form.

Thank you.

[2021-02-26 19:21] jmencisom commented on #107
It seems you added your github profile picture, isn't? Feel free to close this ticket.

[2021-02-26 19:21] jmencisom commented on #106
It seems you added your github profile picture, isn't? Feel free to close this ticket.

[2021-02-26 19:23] #135 closed

[2021-02-26 19:29] #129 closed

[2021-02-26 19:48] jmencisom commented on #105
Any chance to add you profile picture? :)

[2021-02-26 19:49] jmencisom commented on #52
Solved, right?

[2021-02-26 19:50] jmencisom commented on #52
Please link the related pull request. Thanks a lot!

[2021-02-26 19:53] jmencisom commented on #53
Any news? How can we help?!

[2021-02-26 19:55] diferpaho commented on #52
Yes sir, it is already in charge in the pull request #115

[2021-02-26 19:55] #52 closed

[2021-02-26 19:55] jmencisom commented on #83
@rafa2640: did #42 work?

[2021-02-26 19:58] danialeresbar commented on #139
If your branch has the objective of uploading the Origin model, I have previously notified the person in charge of this task #9 that it has already been solved.
When you create a branch to make changes in development branch, follow these steps:

- Update all branches of your local repository based on the branches of this repository (usually 'origin'):
[code]
- Create the new branch from the develo

[2021-02-26 20:08] jmencisom commented on #51
Any news? Please let us know how can we help

[2021-02-26 20:11] jmencisom commented on #87
Any news? I see  #71 closed :)

[2021-02-26 20:13] jmencisom opened #140 "Replace image in login"
In this page https://carpa.encisosystems.com/, please replace the "Carpa in Action" image by the Spanish one. Thanks!

![carpa-en-accion](https://user-images.githubusercontent.com/1332546/109350261-33ad3d00-7845-11eb-8e89-e2b90741591a.png)

[2021-02-26 20:14] jmencisom commented on #140
@rocandres pls assign to the right person

[2021-02-26 22:04] ElkinMoreno01226 commented on #106
Done

[2021-02-26 22:04] #106 closed

[2021-02-26 22:31] juan5d commented on #104
This is correct, thank you engineer.

[2021-02-26 22:33] juan5d commented on #128
Yes sr this is completed

![Captura de Pantalla 2021-02-25 a la(s) 3 55 16 p  m](https://user-images.githubusercontent.com/11222298/109362301-bc81a400-7858-11eb-822d-0fa6d25f726d.png)

[2021-02-26 22:33] #128 closed

[2021-02-26 23:01] diferpaho commented on #139
In the case that the branch was created locally but still does not exist in the repository in github, you can write: `git push`
and the console shows the suggestion of the command that should be used to upload the new branch.

[2021-02-26 23:25] #131 closed

[2021-02-26 23:26] #107 closed

[2021-02-26 23:55] #104 closed

[2021-02-27 00:08] jmencisom commented on #111
Can you close this issue?

[2021-02-27 00:13] juan5d commented on #50
Please see and check if it's ok

[2021-02-27 00:26] diferpaho commented on #50
The file you modify is harvests `/templates/origin.html ` but now that file has been moved to sources `/templates/origin.html`, please update your `release/front-end` branch and add the icons for the file that was moved, also add the edit button with its respective icon.

[2021-02-27 12:25] danialeresbar commented on #74
Task solved!

[2021-02-27 12:25] #74 closed

[2021-02-27 12:43] danialeresbar opened #145 "Tests for the Bunch model"
- [x] Create the respective **test_models.py** file of the harvests application folder
- [ ] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [ ] Check the syntax and assertion of your tests
- [ ] Run tests with:
[code]
- [ ] If everything went well, you can open a pull request

[2021-02-27 12:45] danialeresbar opened #146 "Test for the Parcel model"
- [x] Create the respective **test_models.py** file of the sources application folder
- [x] You can create the objects you need for your fixtures in your local and then save them in json format with:
Please check [this](https://docs.djangoproject.com/en/3.1/ref/django-admin/)
[code]

- [x] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [x] Check the

[2021-02-27 12:47] danialeresbar opened #147 "Test for the ParcelOwner model"
- [x] Create the respective **test_models.py** file of the **sources** application folder
- [x] You can create the objects you need for your fixtures in your local and then save them in json format with:
Please check [this](https://docs.djangoproject.com/en/3.1/ref/django-admin/)
[code]

- [x] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [x] Check

[2021-02-27 12:47] danialeresbar opened #148 "Test for the Driver model"
- [x] Create the respective **test_models.py** file of the **sources** application folder
- [x] You can create the objects you need for your fixtures in your local and then save them in json format with:
Please check [this](https://docs.djangoproject.com/en/3.1/ref/django-admin/)
[code]

- [x] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [x] Check

[2021-02-27 12:49] danialeresbar opened #149 "Test for the Vehicle model"
- [x] Create the respective **test_models.py** file of the **sources** application folder
- [ ] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [ ] Check the syntax and assertion of your tests
- [ ] Run tests with:
[code]
- [ ] If everything went well, you can open a pull request

[2021-02-27 12:50] danialeresbar opened #150 "Test for the Harvester model"
- [x] Create the respective **test_models.py** file of the **harvests** application folder
- [x] You can create the objects you need for your fixtures in your local and then save them in json format with:
Please check [this](https://docs.djangoproject.com/en/3.1/ref/django-admin/)
[code]

- [x] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [x] Chec

[2021-02-27 12:52] danialeresbar opened #151 "Test for the BunchCategory model"
- [x] Create the respective **test_models.py** file of the **harvests** application folder
- [x] You can create the objects you need for your fixtures in your local and then save them in json format with:
Please check [this](https://docs.djangoproject.com/en/3.1/ref/django-admin/)
[code]

- [x] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [x] Chec

[2021-02-27 12:57] danialeresbar opened #152 "Test for the BunchBatch model"
- [x] Create the respective **test_models.py** file of the **harvests** application folder
- [x] You can create the objects you need for your fixtures in your local and then save them in json format with:
Please check [this](https://docs.djangoproject.com/en/3.1/ref/django-admin/)
[code]

- [ ] Write the CRUD tests. A tagged method or function for each test following the best practices.
- [ ] Chec

[2021-02-27 13:15] rocandres commented on #87
task performed in pull request #138 .

[2021-02-27 13:15] #87 closed

[2021-02-27 15:35] danialeresbar commented on #151
Tests proofes done!

[2021-02-27 15:35] #151 closed

[2021-02-27 15:54] rocandres commented on #150
Good morning,
task assigned to @otoro90

Any concerns add a comment.

[2021-02-27 15:56] rocandres commented on #149
Good morning,
task assigned to @rfonseca7

Any concerns add a comment.

[2021-02-27 15:58] rocandres commented on #148
Good morning,
task assigned to @dcarranza9

Any concerns add a comment.

[2021-02-27 15:58] rocandres commented on #147
Good morning,
task assigned to @cgaray22

Any concerns add a comment.

[2021-02-27 15:59] rocandres commented on #146
Good morning,
task assigned to @NicolasBorda96

Any concerns add a comment.

[2021-02-27 16:00] rocandres commented on #145
Good morning,
task assigned to @F4brii

Any concerns add a comment.

[2021-02-27 16:04] #111 closed

[2021-02-27 16:05] juan5d commented on #50
Ok, it's already, please check pull request

[2021-02-27 16:06] #50 closed

[2021-02-27 16:15] jaserranoj commented on #55
Commit: https://github.com/encisosystems/carpa/commit/0bdcd907627f40530e14ffadfab3afff0d84a541
Branch: https://github.com/encisosystems/carpa/tree/feature/update-vehicles

[2021-02-27 16:15] #55 closed

[2021-02-27 16:20] diferpaho opened #156 "update view name and templete origin"
The "origin" model is replaced by "Parcel", so the related files must be updated on the front.

Steps:

- [ ] rename in `views.py`

- [ ] rename the template `origin.html`

- [ ] rename in `urls.py`

- [ ] change the `href` attribute in `harvests/templates/harvests.html`

- [ ] rename the `test_origin_GET` and configure it to work properly

[2021-02-27 16:33] diferpaho opened #157 "Create interface test for harvests"
Create the respective interface test for the harvests.html template.

you can use the test for test_vehicles_GET as a guide.

- [x] add a screenshot of the test results

[2021-02-27 16:34] diferpaho opened #158 "Create interface test for home"
Create the respective interface test for the home.html template.

you can use the test for test_vehicles_GET as a guide.

- [ ] add a screenshot of the test results

[2021-02-27 16:35] diferpaho opened #159 "Create interface test for login"
Create the respective interface test for the login.html template.

you can use the test for test_vehicles_GET as a guide.

- [ ] add a screenshot of the test results

[2021-02-27 16:38] diferpaho opened #160 "Create interface test for create_report"
Create the respective interface test for the create_report.html template.

you can use the test for test_vehicles_GET as a guide.

- [x] add a screenshot of the test results

[2021-02-27 16:40] diferpaho opened #161 "Create interface test for query_report"
Create the respective interface test for the query_report.html template.

you can use the test for test_vehicles_GET as a guide.

- [ ] add a screenshot of the test results

[2021-02-27 16:41] diferpaho opened #162 "Create interface test for reports"
Create the respective interface test for the reports.html template.

you can use the test for test_vehicles_GET as a guide.

- [ ] add a screenshot of the test results

[2021-02-27 16:44] diferpaho opened #163 "Create interface test for people"
Create the respective interface test for the people.html template.

you can use the test for test_vehicles_GET as a guide.

- [x] add a screenshot of the test results

[2021-02-27 17:33] rocandres commented on #157
Good morning,
task assigned to @CateValencia

Any concerns add a comment.

[2021-02-27 17:35] rocandres commented on #162
Good morning,
task assigned to @rafa2640

Any concerns add a comment.

[2021-02-27 17:36] rocandres commented on #161
Good morning,
task assigned to @juan5d

Any concerns add a comment.

[2021-02-27 17:37] rocandres commented on #160
Good morning,
task assigned to @ElkinMoreno01226

Any concerns add a comment.

[2021-02-27 17:38] rocandres commented on #159
Good morning,
task assigned to @jaserranoj

Any concerns add a comment.

[2021-02-27 17:39] rocandres commented on #158
Good morning,
task assigned to @mauriciomosqueragutierrez

Any concerns add a comment.

[2021-02-27 17:40] rocandres commented on #140
Good morning,
task assigned to @carmagedon07

Any concerns add a comment.

[2021-02-27 21:28] jmencisom commented on #105
This isn't solved yet. Please close it after you upload your picture. Thanks

[2021-02-28 14:02] jmencisom opened #170 "Remove links in homepage"
In this page https://carpa.encisosystems.com/, pls remove the following links:

Olvido su contraseña?

Crear una cuenta

Thanks.

[2021-02-28 14:11] jmencisom commented on #1
Thanks and this is done, feel free to close it.

[2021-02-28 14:12] jmencisom commented on #2
Thanks and this is done, feel free to close it.

[2021-02-28 14:13] jmencisom commented on #49
Let's do this in the future. I will open again when needed.

[2021-02-28 14:13] #49 closed

[2021-02-28 14:13] jmencisom commented on #48
Let's do this in the future. I will open again when needed.

[2021-02-28 14:13] #48 closed

[2021-03-01 00:19] #1 closed

[2021-03-01 00:20] #83 closed

[2021-03-01 01:49] #51 closed

[2021-03-01 02:35] juan5d commented on #161
Sorry, exist one example in the present project?

[2021-03-01 11:33] #140 closed

[2021-03-01 11:36] carmagedon07 commented on #139
thanks for you help, I have been able to do  "the pull request".

[2021-03-01 11:36] #139 closed

[2021-03-01 11:37] #54 closed

[2021-03-01 12:34] diferpaho commented on #161
Of course in class it was explained and can be guided by `vehicle tests _GET`

[2021-03-01 23:35] #105 closed

[2021-03-01 23:46] jmencisom commented on #105
ok, thanks!

[2021-03-02 13:37] juan5d commented on #161
Thank you, please check it's ok

[2021-03-02 15:00] diferpaho commented on #161
task completed, very good

[2021-03-02 15:00] #161 closed

[2021-03-03 04:11] rocandres commented on #163
Good morning,
task assigned to @carmagedon07

Any concerns add a comment.

[2021-03-03 04:13] rocandres commented on #170
Good morning,
task assigned to @jaserranoj

Any concerns add a comment.

[2021-03-04 02:20] mauriciomosqueragutierrez commented on #53
Good night Team.  I got News!: Task done.
Sorry for uploading it late, I have had some technical issues. Thanks for your understanding and supporting.
I really appreciate your flexibility.

[2021-03-04 02:21] #53 closed

[2021-03-04 03:22] mauriciomosqueragutierrez commented on #158
Good night Team.
Task done.
Thanks.

[2021-03-04 03:22] #158 closed

[2021-03-04 13:04] danialeresbar commented on #150
You can close this issue as soon as your PR (#174) is integrated 😉

[2021-03-04 17:24] rfonseca7 opened #175 "not all tests are executed"
class

![Captura de Pantalla 2021-03-04 a la(s) 12 20 58 p  m](https://user-images.githubusercontent.com/39870129/110003125-157f8b00-7ce4-11eb-8dbe-d02021236909.png)

when running the tests, only run one

![Captura de Pantalla 2021-03-04 a la(s) 12 21 44 p  m](https://user-images.githubusercontent.com/39870129/110003255-31832c80-7ce4-11eb-8793-6d33ead476ed.png)

How do I get all the tests created

[2021-03-04 21:30] danialeresbar commented on #175
Check the Unit Test django docs
All test methods must be named with test_<your test_name>

[2021-03-04 21:30] #175 closed

[2021-03-04 22:04] ElkinMoreno01226 commented on #160
Done
![image](https://user-images.githubusercontent.com/67612376/110036888-afa6f980-7d0b-11eb-8a69-714cd10695ab.png)

[2021-03-05 03:56] rafa2640 commented on #162
Hello

Current test for the reports

![image](https://user-images.githubusercontent.com/17261023/110065173-99fdf800-7d3c-11eb-87ad-f4f1d936d30f.png)

[2021-03-05 03:56] #162 closed

[2021-03-05 04:11] carmagedon07 commented on #163
greeting

it was the result.

![imagen](https://user-images.githubusercontent.com/36909609/110066188-da5e7580-7d3e-11eb-8028-1e2e5b9e3c20.png)

I can't understand, if the logic is right.

![imagen](https://user-images.githubusercontent.com/36909609/110066254-00841580-7d3f-11eb-997f-d8bb835ba8cf.png)

[2021-03-05 04:11] #163 closed

[2021-03-05 04:12] carmagedon07 commented on #163
sorry, this is the code in the test_view

![imagen](https://user-images.githubusercontent.com/36909609/110066304-23aec500-7d3f-11eb-969d-e14a57166550.png)

[2021-03-05 04:21] juan5d commented on #161
![Captura de Pantalla 2021-03-04 a la(s) 11 17 03 p  m](https://user-images.githubusercontent.com/11222298/110066813-55745b80-7d40-11eb-8fe6-e839c6ae3ddc.png)

[2021-03-05 04:25] CateValencia commented on #157
Hello!!!

Task DONE

![image](https://user-images.githubusercontent.com/68095616/110066761-3aa1e700-7d40-11eb-849a-2782e7d70dcf.png)

![image](https://user-images.githubusercontent.com/68095616/110066806-50171100-7d40-11eb-863a-296037fc4d7e.png)

[2021-03-05 04:47] mauriciomosqueragutierrez commented on #158
![image](https://user-images.githubusercontent.com/78989342/110068438-b05b8200-7d43-11eb-9c92-535aa466c4b8.png)
Test results screenshot added.
Thanks
Gnite!

[2021-03-05 12:24] danialeresbar commented on #152
@rocandres  When your PR is integrated, you can mark this as resolved 😎

[2021-03-05 12:27] danialeresbar commented on #149
When your PR (#177) is integrated, you can mark this as resolved

[2021-03-05 12:30] danialeresbar commented on #145
When your PR (#183) is integrated, you can mark this as resolved

[2021-03-05 12:51] osbbarr1 commented on #156
Good morning.
Kindly inform that this activity took place on 27 / Feb / 2021 in the afternoon.
thank you very much :)

[2021-03-05 12:57] diferpaho commented on #157
Excellent!

[2021-03-05 12:57] #157 closed

[2021-03-05 12:59] diferpaho commented on #162
Excellent!

[2021-03-05 13:01] diferpaho commented on #158
Excellent!

[2021-03-05 13:03] diferpaho commented on #53
Excellent!

[2021-03-05 13:06] diferpaho commented on #160
Excellent!

[2021-03-05 13:07] #160 closed

[2021-03-05 13:10] diferpaho commented on #2
all tasks were reported and there are few to be completed.

[2021-03-05 13:10] #2 closed

[2021-03-05 13:13] diferpaho commented on #156
the changes were never approved because I did not make them correctly, please update your `release/front-end ` branch and make the changes.

[2021-03-05 13:18] diferpaho commented on #156
You closed a pull request and it was never approved, the pull requests should only be closed by the person in charge of the review, I will open the pull reequest again and accept it, then close this task again.

[2021-03-05 13:20] diferpaho commented on #156
It gives me problems to approve a closed pull request, please create the pull request with return to the changes to be able to approve it.

[2021-03-05 13:24] diferpaho commented on #47
It gives me problems to approve a closed pull request, please create the pull request with return to the changes to be able to approve it.

[2021-03-05 14:49] diferpaho commented on #163
Great!

[2021-03-05 15:19] carmagedon07 commented on #163
greetings

I have got it already.

![image](https://user-images.githubusercontent.com/36909609/110135185-34415880-7d9c-11eb-80b5-bea8efecd5c8.png)

thanks @diferpaho  for your advice.

[2021-03-05 16:38] osbbarr1 commented on #47
Good morning Diego, please indicate in which documentation or video I can specifically validate the request. Thanks

[2021-03-05 17:21] cgaray22 commented on #147
Test is created for the parcelowner model, pull request is generated.

[2021-03-05 17:21] #147 closed

[2021-03-05 19:20] diferpaho commented on #47
I think you still don't understand the problem, you close the pull requests and now I can't approve them, you must recreate the pull request with the same code that was changed to be approved, don't close the pull requests or the same will make it happen again, in summary re-create the pull request.

[2021-03-05 20:09] osbbarr1 commented on #47
when I try to create the new pullrequest, it doesn't allow and I get the following message.

![image](https://user-images.githubusercontent.com/5799183/110168200-d5440980-7dc4-11eb-9708-158d8f174da4.png)

[2021-03-05 20:10] osbbarr1 commented on #47
Thank you very much, I am attentive to new indications

[2021-03-05 20:22] osbbarr1 commented on #47
I also see that the pull request is open,
please indicate which button to replicate or enable again.
Thank you very much

![image](https://user-images.githubusercontent.com/5799183/110169299-813a2480-7dc6-11eb-9711-44c0ecc41811.png)

[2021-03-05 20:55] #152 closed

[2021-03-05 22:34] jaserranoj commented on #170
https://github.com/encisosystems/carpa/pull/186/commits/8ab570f096277fb8840efdaf2219c56187c0ac49

[2021-03-05 22:34] #170 closed

[2021-03-05 23:07] jaserranoj commented on #159
@rocandres  Hi, I was reviewing the source code related to login, and found that the login functionality is not implemented. The input user and password and the login button is associated with a link like <button type = "button" class = "button form-control btn btn-block text-white btn-user"> <a href = "/ home" class = "text -white "> Enter </a> </button>
I wanted to ask if the test interface woul

[2021-03-05 23:55] jaserranoj commented on #159
https://github.com/encisosystems/carpa/pull/187/commits/cb8fd2ad23420bc2dcb128aaa9320882e1b5e3ed

[2021-03-05 23:55] #159 closed

[2021-03-06 01:09] #146 closed

[2021-03-06 16:33] #150 closed

[2021-03-08 13:33] #47 closed

[2021-03-08 13:37] osbbarr1 commented on #156
good afternoon
kindly inform that task 156 was resolved with pullrequest #191
Thank you

[2021-03-08 13:37] #156 closed

[2021-03-09 06:24] #148 closed

[2021-03-09 06:24] dcarranza9 commented on #148
Task done!